// Reset de estilos para todos los elementos
* {
    margin: 0;
    padding: 0;
}

/* Setup body */
body{
    background-image: url("../images/fondo-section2.jpg");
    background-size: cover;
     nav {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        background-color: transparent;
     }
    
    .container-fluid{
        img {
        width: 6rem;
        height: auto;
        margin-left: 2rem;
        }
        
    }
    #navbarNav {
        justify-content: center;
        font-size: 1.3rem;
        font-family: "Oxygen", sans-serif;
        color: white;
        .navbar-nav {
            .nav-item{
                margin-left: 1rem;
                a {
                    color: white;
                    &:hover {
                        color: #08f5f5;
                    }
                }
            }
        }
    }   
    .navbar-brand {
        margin-left: 2rem;
        font-family: "Oxygen", sans-serif;
        color: white;
    }
    main {
        .title-main{

            padding: 10rem;
            h1{
                font-family: "Oxygen", sans-serif;
                justify-content: center;
                text-align: center;
                color: white;
            }
            h2{
                justify-content: center;
                text-align: center;
                margin-top: 2rem;
                font-family: "Nunito", sans-serif;
                color: white;
            }
            .cards-index {
                display: flex;
                justify-content: space-between;
                .card-body {
                    width: 45%;
                    padding: 1.5rem;
                    margin-top: 5rem;
                    margin-left: 2rem;
                    background-color: #F8F9FA;
                    border-style: none;
                    border-radius:  35px 35px 35px 35px;
                    /* transition: transform 0.3s ease-in-out;
                    &:hover{
                        transform: scale(1.05);
                    }  efecto hover*/
                    h3 {
                        strong {
                            color:#770D79;
                        }
                        font-size: 1.3rem;
                    }
                    .icon-title-container {
                        display: flex;
                        align-items: center;

                        .icon-container {
                            width: 45%;/* Tamaño del cuadrado */
                            height: auto; /* Tamaño del cuadrado */
                            border: 0 solid black;
                            border-radius: 10%;
                            display: flex;
                            justify-content: center; /* Centra el ícono horizontalmente */
                            align-items: center; /* Centra el ícono verticalmente */
                            margin: 1rem;
                        }

                        svg {
                        width: 3.5rem; /* Tamaño del ícono dentro del cuadrado */
                        height: 3.5rem; /* Altura automática para mantener la proporción */
                        }

                    }
                }
                
            }
        }
        .fondo-relleno {
            background-color: black;
            padding: 5rem;
        }
        .section-servicios{
            padding: 5rem;
            background-color: rgb(73,219,244);
            background: radial-gradient(circle, rgba(73,219,244,1) 0%, rgba(86,11,104,1) 100%);
        }
    }
}