// Reset de estilos para todos los elementos
* {
    margin: 0;
    padding: 0;
}

/* Setup body */
body{
    img {
        width: 6rem;
        height: auto;
        margin-left: 2rem;
    }
    #navbarNav {
        justify-content: center;
        font-size: 1.3rem;
        font-family: "Oxygen", sans-serif;
        .navbar-nav {
            .nav-item{
                margin-left: 1rem;
            }
        }
    }   
    .navbar-brand {
        margin-left: 2rem;
        font-family: "Oxygen", sans-serif;
    }
    main {
        .title-main{
            background-color: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(3,184,42,1) 100%);
            padding: 10rem;
            h1{
                font-family: "Oxygen", sans-serif;
                justify-content: center;
                text-align: center;
            }
            h2{
                justify-content: center;
                text-align: center;
                margin-top: 2rem;
                font-family: "Nunito", sans-serif;
            }
            .cards-index {
                display: flex;
                justify-content: space-between;
                .card-body {
                    width: 45%;
                    padding: 1.5rem;
                    margin-top: 5rem;
                    margin-left: 2rem;
                    background-color: #F8F9FA;
                    border-style: none;
                    border-radius:  35px 35px 35px 35px;
                    h3 {
                        font-size: 1.3rem;
                    }
                    .icon-title-container {
                        display: flex;
                        align-items: center;

                        .icon-container {
                            width: 45%;/* Tamaño del cuadrado */
                            height: auto; /* Tamaño del cuadrado */
                            border: 0 solid black;
                            box-shadow: 5px 5px 8px #1BBF9F; /* Sombra */
                            border-radius: 10%;
                            display: flex;
                            justify-content: center; /* Centra el ícono horizontalmente */
                            align-items: center; /* Centra el ícono verticalmente */
                            margin: 1rem;
                        }

                        svg {
                        width: 5rem; /* Tamaño del ícono dentro del cuadrado */
                        height: 5rem; /* Altura automática para mantener la proporción */
                        }

                    }
                }
                
            }
        }
        .fondo-relleno {
            background-color: black;
            padding: 5rem;
        }
    }
}